body {
    background-image: linear-gradient(to right, rgba(105, 59, 59), rgba(24, 30, 66));
}

header {
    display: flex;
}

#logo {
    margin-right: 100px;
    max-width: 200px;
}

input {
    margin: auto;
    border-color: transparent;
    padding: 5px;
    width: 220px;
    background-color: transparent;
    margin-bottom: auto;
    margin-left: 10px;

}

#search {
    max-width: 30px;
    max-height: 20px;
    margin-top: 50px;
    margin-right: 15px;
}

#Fashion {
    border: solid 1px black;
    display: flex;
    background-color: transparent;
    border-radius: 20px;
    max-width: 600px;
    max-height: 30px;
    margin-top: 50px;
    margin-right: 60px;
    background-image: url(search.png);
    background-position: 7px;
    background-repeat: no-repeat;
    background-size: 100px 80px;
    background-size: contain;
}

nav {
    display: flex;
    justify-content: space-between;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    margin-top: 54px;
    color: white;

}

#notif {
    max-width: 50px;
    max-height: 30px;
    margin-top: 50px;
}

#mail {
    max-width: 50px;
    max-height: 30px;
    margin-top: 50px;

}

#avatar {
    max-width: 50px;
    max-height: 30px;
    margin-top: 50px;
}


main {
    display: flex;
    gap: 30px;
}

/* section 1  */







.filters {
    border: 1px solid transparent;
    background-color: rgba(96, 70, 81);
    border-radius: 10px;
    padding-right: 100px;
    box-shadow: 5px 5px 5px rgba(69, 46, 62);
    margin-right: 20px;
    margin-left: 5%;
    width: 250px;
    height: 500px;

}

div {
    display: flex;
    gap: 10px;
}


#drop {
    max-width: 48px;
    max-height: 33px;
    margin-top: 32px;
    margin-left: 40px;
    margin-inline-start: 30px;

}


h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 10px; */
    margin-top: 35px;
}

.SO {
    display: block;
}

.option {
    background-color: transparent;
    border-color: transparent;
    color: white;

}


/* section 2  */


.products {
    border: 1px solid transparent;

}

.container-1 {
    border: 1px solid transparent;
    display: flex;
    height: 35px;


}

#Items {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-bottom: 550px;
    margin-top: 0%;
}

#btn-1 {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    max-height: 30px;
    width: 120px;
    margin-left: 450px;
}

#btn-2 {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    max-height: 30px;
    width: 120px;
    margin-left: 10px;
}

.container-2 {
    display: grid;
    gap: 3px;
    grid-template-columns: auto auto auto;
    height: 900px;
}

.container-2 div {
    background-color: rgba(68, 59, 83);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.div-1 {
    /* div el kbira */
    display: block;
    height: 300px;
    width: 50%;
    overflow: hidden;

}

#div-1-1 {
    /* div de img  */
    align-items: center;
    width: 85%;
    height: 60%;
    overflow: hidden;

}

.jogging {
    /* img */
    width: 90%;
    height: 90%;
    margin-bottom: 40px;
    border-radius: 10px;
}



#Secret {
    margin-top: 170px;
    margin-left: -120px;
    text-align: right;
    font-size: small;
}

#div-1-3 {
    align-items: center;
    width: 85%;
    height: 7px;
    display: flex;
    font-size: small;
}



#btn-3 {
    width: 85%;
    height: 30px;
    background-color: blueviolet;
    margin-left: 20px;
    border-radius: 5px;
}


footer {
    display: flex;
    padding: 2px;
}

footer div {
    
    margin: auto;
    padding: 5px;
    width: 20%;
    height: 200px;
    display: inline;
}
footer div h3{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: blueviolet;
margin-top: 0%;
}

footer h5{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    
}


.lien{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.material-icons{
    margin-left: 30px;
    margin-right: 30px;
}


@media screen and (max-width :450px) {



    header {
        width: 450px;
        height: 370px;
        overflow: hidden;
        display: grid;
        grid-template-rows: auto;
        gap: 2px;
        margin-bottom: 10px;
    }

    #logo {
        justify-content: center;
    }

    #Fashion {
        border: solid 1px black;
        background-color: transparent;
        border-radius: 20px;
        max-width: 300px;
        max-height: 30px;
        margin-top: 0%;
        background-image: url(search.png);
        background-position: 7px;
        background-repeat: no-repeat;
        background-size: 100px 80px;
        background-size: contain;
    }

    input {
        margin: auto;
        border-color: transparent;
        padding: 5px;
        width: 250px;
        background-color: transparent;
        margin-bottom: auto;
        margin-left: 10px;

    }

    main {
        display: inline;
    }

    nav {
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .filters {
        margin-bottom: 20px;
    }

    .products {
        display: inline;
        width: 450px;
    }

    .container-1 {
        display: inline;

    }

    #Items {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        display: inline;

    }

    #btn-1 {
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        margin-left: auto;
    }

    #btn-2 {
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;

    }

    .container-2 {
        display: grid;
        gap: 3px;
        grid-template-columns: auto;
        height: 900px;

    }

    .div-1 {
        margin: 2px;
    }

    footer{
        margin-top: 100%;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 2px;
        margin: auto;
    }

    footer div {
    border: 1px solid;
    padding: 5px;
    width: 150px;
    height: 200px;
    display: inline;
    overflow: hidden;
}




}